
.footer{
    background-color:rgb(26, 26, 28);
}
.footer__container{
   display: flex;
   justify-content: space-between;
  width: 1000px;
  /* height: 700px; */
  padding: 50px 0px;
}
.footer__img{
    width: 100px;
    height: 60px;
}

.footer__title{
    color: #fff;
    font-size: 30px;
    width: 200px;
    padding: 30px 0px;
}
.footer__text{
    color: #bbb;
    width: 250px;
    height: 200px;
    /* padding-bottom: 80px; */
    line-height: 20px;
    text-decoration: none;
     /* padding: 10px 0px; */
}

.footer__linkbtn{
    color: #fff;
    text-decoration: none;
    padding: 20px 30px ;
    border:  1px solid #fff;
    border-radius: 20px;
    font-size: 12px;
}
.footer__linkbtn:hover{
    background-color: red;
    border:  0;
    transition: 0.3s;
    transform: scale(0.9);
}
.footer__box1{
    width: 300px;
    /* height: 700px; */
}
.footer__box{
    width: 700px;
    /* height: 700px; */
   display: flex;
   justify-content: space-between;
   /* align-items: center; */
}
.footer__list{

}
.footer__item{
    list-style: none;
}
.footer__link{
    text-decoration: none;
    color: #fff; 
    font-size: 20px; 
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.footer__boxlink{
    text-decoration: none;
    color: #bbb;
    line-height: 50px;
}
.box__list{
   display: flex;
   justify-content: space-between;
   width: 100px;
   height: 400px;
   flex-wrap: wrap;
}
.box__item{
    list-style: none;
    width: 200px;
}
.icon__png{
  color: #bbb;
  border: 0;
  background-color:rgb(26, 26, 28);
  width: 40px;
}
.footer__item__name{
    list-style: none;
}

